@import "tailwindcss";

@theme {
  --color-border: #e2e8f0;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
}

body {
  background-color: var(--color-background);
  color: #0f172a;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
